
body{
    background-color:  #FFCA28 !important; 
}
.main-card{
    margin-top: 10px;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap:wrap;
    background-color: #FFCA28 !important;
    
}
.card1,.card2,.card3{
    display: flex;
    align-items: center;
    justify-content:space-around;
   
    width:300px;
    height:50px;
    box-shadow: 3px 3px 3px grey;
    background-color: white;
    margin-bottom: 5px;  
  
}
.img-height{
height: 75vh;
}
@media screen and (max-width:900px){
    .img-height{
        height: 65vh;
    }
}
@media screen and (max-width:600px){
    .card1,.card2,.card3{
    width:100%;
}
.main-card{
    height: 10%;
}
.img-height{
    height: 55vh;
}
}

.fa-truck,.fa-headphones,.fa-thumbs-up{
    font-size: 50px !important;
    margin-right:2px;
    text-align: center;

    
}

.icards,h4{
   padding: 0px;
    color: #FFCA28 !important; 
}
