
.navbar{
    background-color:
    #FFCA28 !important;
font-weight: bold;
color: grey !important;
}
.fa-shopping-cart{
    font-size: 25px !important;
}
.fa-user{
    font-size: 25px !important;
}

.dropdown-menu{
    background-color:
    #FFCA28 !important;

}