.container{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    
}
.card{
    margin-right: 5px;
}
@media screen and (max-width:300px){
    .card{
        margin-right: 10px;
        margin-left:10px;
    }
}