body{
    display: flex;
 align-items: center;
    flex-direction: column;
    width:100%;
    height: 100%;
    font-family: 'Comic Neue', cursive;
    }

    .project{
        max-width:900px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
       
    }
    @media screen and(max-width:800px){
        .project{
            display: flex;
            
            
        }
    }

    li{
      
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2px;
        min-width: 250px;
      
    }
    .periodic{
        background: rgb(0,0,0);
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(86,197,119,1) 0%);
    }
    .periodic:hover{
        opacity: 0.7;
    }

.saylani{
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(193,197,86,1) 0%);
}
.saylani:hover{
opacity: 0.7;
}
    a{
        font-weight: bold;
        height: 100%;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    color: black;
    text-decoration: none;
    }
    a:hover{
       
        text-decoration:none;
        color:black;
        opacity: 0.5;
        
    }
    
    a>div{
border:1px solid black;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

    }
    .homepage{
        background: rgb(94, 94, 134);
    }
    .homepage:hover{
        opacity: 0.7;
    }